*{
    padding: 0;
    margin: 15px;
    background-color: bisque;
    gap:15rem;
}
.Header{
    display: grid;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
    justify-content: center;
    align-content: baseline;
    align-items: center;
      
}
.hell{
    display: grid;
    font-size: 50px;
    justify-content: center;
}
